    /*
    Flaticon icon font: Flaticon
    Creation date: 30/08/2016 13:13
    */

    @font-face {
  font-family: "Flaticon_form";
  src: url("./Flaticon_form.eot");
  src: url("./Flaticon_form.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon_form.woff") format("woff"),
       url("./Flaticon_form.ttf") format("truetype"),
       url("./Flaticon_form.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon_form";
    src: url("./Flaticon_form.svg#Flaticon") format("svg");
  }
}

    .fi-form:before{
        display: inline-block;
  font-family: "Flaticon_form";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-form-ae:before { content: "\f100"; }
.flaticon-form-agenda:before { content: "\f101"; }
.flaticon-form-ai:before { content: "\f102"; }
.flaticon-form-ai-1:before { content: "\f103"; }
.flaticon-form-ai-2:before { content: "\f104"; }
.flaticon-form-alignment:before { content: "\f105"; }
.flaticon-form-apk:before { content: "\f106"; }
.flaticon-form-au:before { content: "\f107"; }
.flaticon-form-br:before { content: "\f108"; }
.flaticon-form-browser:before { content: "\f109"; }
.flaticon-form-browser-1:before { content: "\f10a"; }
.flaticon-form-browser-10:before { content: "\f10b"; }
.flaticon-form-browser-11:before { content: "\f10c"; }
.flaticon-form-browser-12:before { content: "\f10d"; }
.flaticon-form-browser-13:before { content: "\f10e"; }
.flaticon-form-browser-14:before { content: "\f10f"; }
.flaticon-form-browser-15:before { content: "\f110"; }
.flaticon-form-browser-16:before { content: "\f111"; }
.flaticon-form-browser-17:before { content: "\f112"; }
.flaticon-form-browser-18:before { content: "\f113"; }
.flaticon-form-browser-19:before { content: "\f114"; }
.flaticon-form-browser-2:before { content: "\f115"; }
.flaticon-form-browser-20:before { content: "\f116"; }
.flaticon-form-browser-21:before { content: "\f117"; }
.flaticon-form-browser-22:before { content: "\f118"; }
.flaticon-form-browser-23:before { content: "\f119"; }
.flaticon-form-browser-24:before { content: "\f11a"; }
.flaticon-form-browser-25:before { content: "\f11b"; }
.flaticon-form-browser-26:before { content: "\f11c"; }
.flaticon-form-browser-27:before { content: "\f11d"; }
.flaticon-form-browser-28:before { content: "\f11e"; }
.flaticon-form-browser-3:before { content: "\f11f"; }
.flaticon-form-browser-4:before { content: "\f120"; }
.flaticon-form-browser-5:before { content: "\f121"; }
.flaticon-form-browser-6:before { content: "\f122"; }
.flaticon-form-browser-7:before { content: "\f123"; }
.flaticon-form-browser-8:before { content: "\f124"; }
.flaticon-form-browser-9:before { content: "\f125"; }
.flaticon-form-card:before { content: "\f126"; }
.flaticon-form-certification:before { content: "\f127"; }
.flaticon-form-coding:before { content: "\f128"; }
.flaticon-form-css:before { content: "\f129"; }
.flaticon-form-doc:before { content: "\f12a"; }
.flaticon-form-dw:before { content: "\f12b"; }
.flaticon-form-fi:before { content: "\f12c"; }
.flaticon-form-file:before { content: "\f12d"; }
.flaticon-form-file-1:before { content: "\f12e"; }
.flaticon-form-file-10:before { content: "\f12f"; }
.flaticon-form-file-11:before { content: "\f130"; }
.flaticon-form-file-2:before { content: "\f131"; }
.flaticon-form-file-3:before { content: "\f132"; }
.flaticon-form-file-4:before { content: "\f133"; }
.flaticon-form-file-5:before { content: "\f134"; }
.flaticon-form-file-6:before { content: "\f135"; }
.flaticon-form-file-7:before { content: "\f136"; }
.flaticon-form-file-8:before { content: "\f137"; }
.flaticon-form-file-9:before { content: "\f138"; }
.flaticon-form-files:before { content: "\f139"; }
.flaticon-form-files-1:before { content: "\f13a"; }
.flaticon-form-files-10:before { content: "\f13b"; }
.flaticon-form-files-11:before { content: "\f13c"; }
.flaticon-form-files-12:before { content: "\f13d"; }
.flaticon-form-files-13:before { content: "\f13e"; }
.flaticon-form-files-14:before { content: "\f13f"; }
.flaticon-form-files-15:before { content: "\f140"; }
.flaticon-form-files-2:before { content: "\f141"; }
.flaticon-form-files-3:before { content: "\f142"; }
.flaticon-form-files-4:before { content: "\f143"; }
.flaticon-form-files-5:before { content: "\f144"; }
.flaticon-form-files-6:before { content: "\f145"; }
.flaticon-form-files-7:before { content: "\f146"; }
.flaticon-form-files-8:before { content: "\f147"; }
.flaticon-form-files-9:before { content: "\f148"; }
.flaticon-form-folder:before { content: "\f149"; }
.flaticon-form-folder-1:before { content: "\f14a"; }
.flaticon-form-folder-10:before { content: "\f14b"; }
.flaticon-form-folder-11:before { content: "\f14c"; }
.flaticon-form-folder-2:before { content: "\f14d"; }
.flaticon-form-folder-3:before { content: "\f14e"; }
.flaticon-form-folder-4:before { content: "\f14f"; }
.flaticon-form-folder-5:before { content: "\f150"; }
.flaticon-form-folder-6:before { content: "\f151"; }
.flaticon-form-folder-7:before { content: "\f152"; }
.flaticon-form-folder-8:before { content: "\f153"; }
.flaticon-form-folder-9:before { content: "\f154"; }
.flaticon-form-fw:before { content: "\f155"; }
.flaticon-form-home:before { content: "\f156"; }
.flaticon-form-home-1:before { content: "\f157"; }
.flaticon-form-home-2:before { content: "\f158"; }
.flaticon-form-house:before { content: "\f159"; }
.flaticon-form-house-1:before { content: "\f15a"; }
.flaticon-form-house-2:before { content: "\f15b"; }
.flaticon-form-house-3:before { content: "\f15c"; }
.flaticon-form-house-4:before { content: "\f15d"; }
.flaticon-form-house-5:before { content: "\f15e"; }
.flaticon-form-house-6:before { content: "\f15f"; }
.flaticon-form-house-7:before { content: "\f160"; }
.flaticon-form-house-8:before { content: "\f161"; }
.flaticon-form-id:before { content: "\f162"; }
.flaticon-form-ipa:before { content: "\f163"; }
.flaticon-form-jpg:before { content: "\f164"; }
.flaticon-form-left-align:before { content: "\f165"; }
.flaticon-form-music-file:before { content: "\f166"; }
.flaticon-form-newspaper:before { content: "\f167"; }
.flaticon-form-pdf:before { content: "\f168"; }
.flaticon-form-php:before { content: "\f169"; }
.flaticon-form-placeholder:before { content: "\f16a"; }
.flaticon-form-placeholder-1:before { content: "\f16b"; }
.flaticon-form-placeholder-10:before { content: "\f16c"; }
.flaticon-form-placeholder-11:before { content: "\f16d"; }
.flaticon-form-placeholder-2:before { content: "\f16e"; }
.flaticon-form-placeholder-3:before { content: "\f16f"; }
.flaticon-form-placeholder-4:before { content: "\f170"; }
.flaticon-form-placeholder-5:before { content: "\f171"; }
.flaticon-form-placeholder-6:before { content: "\f172"; }
.flaticon-form-placeholder-7:before { content: "\f173"; }
.flaticon-form-placeholder-8:before { content: "\f174"; }
.flaticon-form-placeholder-9:before { content: "\f175"; }
.flaticon-form-png:before { content: "\f176"; }
.flaticon-form-ppt:before { content: "\f177"; }
.flaticon-form-pr:before { content: "\f178"; }
.flaticon-form-ps:before { content: "\f179"; }
.flaticon-form-ps-1:before { content: "\f17a"; }
.flaticon-form-report:before { content: "\f17b"; }
.flaticon-form-report-1:before { content: "\f17c"; }
.flaticon-form-report-10:before { content: "\f17d"; }
.flaticon-form-report-11:before { content: "\f17e"; }
.flaticon-form-report-2:before { content: "\f17f"; }
.flaticon-form-report-3:before { content: "\f180"; }
.flaticon-form-report-4:before { content: "\f181"; }
.flaticon-form-report-5:before { content: "\f182"; }
.flaticon-form-report-6:before { content: "\f183"; }
.flaticon-form-report-7:before { content: "\f184"; }
.flaticon-form-report-8:before { content: "\f185"; }
.flaticon-form-report-9:before { content: "\f186"; }
.flaticon-form-server:before { content: "\f187"; }
.flaticon-form-server-1:before { content: "\f188"; }
.flaticon-form-server-2:before { content: "\f189"; }
.flaticon-form-server-3:before { content: "\f18a"; }
.flaticon-form-server-4:before { content: "\f18b"; }
.flaticon-form-server-5:before { content: "\f18c"; }
.flaticon-form-server-6:before { content: "\f18d"; }
.flaticon-form-server-7:before { content: "\f18e"; }
.flaticon-form-server-8:before { content: "\f18f"; }
.flaticon-form-sg:before { content: "\f190"; }
.flaticon-form-sitemap:before { content: "\f191"; }
.flaticon-form-sitemap-1:before { content: "\f192"; }
.flaticon-form-sitemap-2:before { content: "\f193"; }
.flaticon-form-sitemap-3:before { content: "\f194"; }
.flaticon-form-storage:before { content: "\f195"; }
.flaticon-form-storage-1:before { content: "\f196"; }
.flaticon-form-storage-2:before { content: "\f197"; }
.flaticon-form-txt:before { content: "\f198"; }
.flaticon-form-video-file:before { content: "\f199"; }
.flaticon-form-video-file-1:before { content: "\f19a"; }
.flaticon-form-video-file-2:before { content: "\f19b"; }
.flaticon-form-video-file-3:before { content: "\f19c"; }
.flaticon-form-video-file-4:before { content: "\f19d"; }
.flaticon-form-video-file-5:before { content: "\f19e"; }
.flaticon-form-video-file-6:before { content: "\f19f"; }
.flaticon-form-video-file-7:before { content: "\f1a0"; }
.flaticon-form-video-file-8:before { content: "\f1a1"; }
.flaticon-form-viewer:before { content: "\f1a2"; }
.flaticon-form-xls:before { content: "\f1a3"; }
.flaticon-form-zip:before { content: "\f1a4"; }
    
    $font-Flaticon-ae: "\f100";
    $font-Flaticon-agenda: "\f101";
    $font-Flaticon-ai: "\f102";
    $font-Flaticon-ai-1: "\f103";
    $font-Flaticon-ai-2: "\f104";
    $font-Flaticon-alignment: "\f105";
    $font-Flaticon-apk: "\f106";
    $font-Flaticon-au: "\f107";
    $font-Flaticon-br: "\f108";
    $font-Flaticon-browser: "\f109";
    $font-Flaticon-browser-1: "\f10a";
    $font-Flaticon-browser-10: "\f10b";
    $font-Flaticon-browser-11: "\f10c";
    $font-Flaticon-browser-12: "\f10d";
    $font-Flaticon-browser-13: "\f10e";
    $font-Flaticon-browser-14: "\f10f";
    $font-Flaticon-browser-15: "\f110";
    $font-Flaticon-browser-16: "\f111";
    $font-Flaticon-browser-17: "\f112";
    $font-Flaticon-browser-18: "\f113";
    $font-Flaticon-browser-19: "\f114";
    $font-Flaticon-browser-2: "\f115";
    $font-Flaticon-browser-20: "\f116";
    $font-Flaticon-browser-21: "\f117";
    $font-Flaticon-browser-22: "\f118";
    $font-Flaticon-browser-23: "\f119";
    $font-Flaticon-browser-24: "\f11a";
    $font-Flaticon-browser-25: "\f11b";
    $font-Flaticon-browser-26: "\f11c";
    $font-Flaticon-browser-27: "\f11d";
    $font-Flaticon-browser-28: "\f11e";
    $font-Flaticon-browser-3: "\f11f";
    $font-Flaticon-browser-4: "\f120";
    $font-Flaticon-browser-5: "\f121";
    $font-Flaticon-browser-6: "\f122";
    $font-Flaticon-browser-7: "\f123";
    $font-Flaticon-browser-8: "\f124";
    $font-Flaticon-browser-9: "\f125";
    $font-Flaticon-card: "\f126";
    $font-Flaticon-certification: "\f127";
    $font-Flaticon-coding: "\f128";
    $font-Flaticon-css: "\f129";
    $font-Flaticon-doc: "\f12a";
    $font-Flaticon-dw: "\f12b";
    $font-Flaticon-fi: "\f12c";
    $font-Flaticon-file: "\f12d";
    $font-Flaticon-file-1: "\f12e";
    $font-Flaticon-file-10: "\f12f";
    $font-Flaticon-file-11: "\f130";
    $font-Flaticon-file-2: "\f131";
    $font-Flaticon-file-3: "\f132";
    $font-Flaticon-file-4: "\f133";
    $font-Flaticon-file-5: "\f134";
    $font-Flaticon-file-6: "\f135";
    $font-Flaticon-file-7: "\f136";
    $font-Flaticon-file-8: "\f137";
    $font-Flaticon-file-9: "\f138";
    $font-Flaticon-files: "\f139";
    $font-Flaticon-files-1: "\f13a";
    $font-Flaticon-files-10: "\f13b";
    $font-Flaticon-files-11: "\f13c";
    $font-Flaticon-files-12: "\f13d";
    $font-Flaticon-files-13: "\f13e";
    $font-Flaticon-files-14: "\f13f";
    $font-Flaticon-files-15: "\f140";
    $font-Flaticon-files-2: "\f141";
    $font-Flaticon-files-3: "\f142";
    $font-Flaticon-files-4: "\f143";
    $font-Flaticon-files-5: "\f144";
    $font-Flaticon-files-6: "\f145";
    $font-Flaticon-files-7: "\f146";
    $font-Flaticon-files-8: "\f147";
    $font-Flaticon-files-9: "\f148";
    $font-Flaticon-folder: "\f149";
    $font-Flaticon-folder-1: "\f14a";
    $font-Flaticon-folder-10: "\f14b";
    $font-Flaticon-folder-11: "\f14c";
    $font-Flaticon-folder-2: "\f14d";
    $font-Flaticon-folder-3: "\f14e";
    $font-Flaticon-folder-4: "\f14f";
    $font-Flaticon-folder-5: "\f150";
    $font-Flaticon-folder-6: "\f151";
    $font-Flaticon-folder-7: "\f152";
    $font-Flaticon-folder-8: "\f153";
    $font-Flaticon-folder-9: "\f154";
    $font-Flaticon-fw: "\f155";
    $font-Flaticon-home: "\f156";
    $font-Flaticon-home-1: "\f157";
    $font-Flaticon-home-2: "\f158";
    $font-Flaticon-house: "\f159";
    $font-Flaticon-house-1: "\f15a";
    $font-Flaticon-house-2: "\f15b";
    $font-Flaticon-house-3: "\f15c";
    $font-Flaticon-house-4: "\f15d";
    $font-Flaticon-house-5: "\f15e";
    $font-Flaticon-house-6: "\f15f";
    $font-Flaticon-house-7: "\f160";
    $font-Flaticon-house-8: "\f161";
    $font-Flaticon-id: "\f162";
    $font-Flaticon-ipa: "\f163";
    $font-Flaticon-jpg: "\f164";
    $font-Flaticon-left-align: "\f165";
    $font-Flaticon-music-file: "\f166";
    $font-Flaticon-newspaper: "\f167";
    $font-Flaticon-pdf: "\f168";
    $font-Flaticon-php: "\f169";
    $font-Flaticon-placeholder: "\f16a";
    $font-Flaticon-placeholder-1: "\f16b";
    $font-Flaticon-placeholder-10: "\f16c";
    $font-Flaticon-placeholder-11: "\f16d";
    $font-Flaticon-placeholder-2: "\f16e";
    $font-Flaticon-placeholder-3: "\f16f";
    $font-Flaticon-placeholder-4: "\f170";
    $font-Flaticon-placeholder-5: "\f171";
    $font-Flaticon-placeholder-6: "\f172";
    $font-Flaticon-placeholder-7: "\f173";
    $font-Flaticon-placeholder-8: "\f174";
    $font-Flaticon-placeholder-9: "\f175";
    $font-Flaticon-png: "\f176";
    $font-Flaticon-ppt: "\f177";
    $font-Flaticon-pr: "\f178";
    $font-Flaticon-ps: "\f179";
    $font-Flaticon-ps-1: "\f17a";
    $font-Flaticon-report: "\f17b";
    $font-Flaticon-report-1: "\f17c";
    $font-Flaticon-report-10: "\f17d";
    $font-Flaticon-report-11: "\f17e";
    $font-Flaticon-report-2: "\f17f";
    $font-Flaticon-report-3: "\f180";
    $font-Flaticon-report-4: "\f181";
    $font-Flaticon-report-5: "\f182";
    $font-Flaticon-report-6: "\f183";
    $font-Flaticon-report-7: "\f184";
    $font-Flaticon-report-8: "\f185";
    $font-Flaticon-report-9: "\f186";
    $font-Flaticon-server: "\f187";
    $font-Flaticon-server-1: "\f188";
    $font-Flaticon-server-2: "\f189";
    $font-Flaticon-server-3: "\f18a";
    $font-Flaticon-server-4: "\f18b";
    $font-Flaticon-server-5: "\f18c";
    $font-Flaticon-server-6: "\f18d";
    $font-Flaticon-server-7: "\f18e";
    $font-Flaticon-server-8: "\f18f";
    $font-Flaticon-sg: "\f190";
    $font-Flaticon-sitemap: "\f191";
    $font-Flaticon-sitemap-1: "\f192";
    $font-Flaticon-sitemap-2: "\f193";
    $font-Flaticon-sitemap-3: "\f194";
    $font-Flaticon-storage: "\f195";
    $font-Flaticon-storage-1: "\f196";
    $font-Flaticon-storage-2: "\f197";
    $font-Flaticon-txt: "\f198";
    $font-Flaticon-video-file: "\f199";
    $font-Flaticon-video-file-1: "\f19a";
    $font-Flaticon-video-file-2: "\f19b";
    $font-Flaticon-video-file-3: "\f19c";
    $font-Flaticon-video-file-4: "\f19d";
    $font-Flaticon-video-file-5: "\f19e";
    $font-Flaticon-video-file-6: "\f19f";
    $font-Flaticon-video-file-7: "\f1a0";
    $font-Flaticon-video-file-8: "\f1a1";
    $font-Flaticon-viewer: "\f1a2";
    $font-Flaticon-xls: "\f1a3";
    $font-Flaticon-zip: "\f1a4";