body {
  background:$mint-dark;
}
.required-text {
  color:$grapefruit-dark;
}
.noscriptmsg {
  width:100%;
  height:100%;
  display:block;
  padding:2em 0;
  background:#FFF;
  text-align:center;
  color:$grapefruit-dark;

  font-size:x-large;
}
.bg-container {
  background:#FFF;
}
footer {
  color: $white;
  background:$mint-dark;
  padding:2em 0;
}

.report-selector .active {
  background: $brand-success;
}
.report-selector span {
  font-size:3em!important;
}
.lg-icon {
  font-size:5em!important;
}

nav li.active a {
  background:none!important;
}

.notification {
    position:absolute;
    right:20px;
    bottom:20px;
    width:200px;
    z-index:100;
}
.large-warning-icon {
  font-size:5em;
  color: $brand-danger;
}
.btn {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
//.table-hover > tbody > tr:hover {
//  -webkit-transition: all 0.5s ease-in-out;
//  -moz-transition: all 0.5s ease-in-out;
//  -o-transition: all 0.5s ease-in-out;
//  transition: all 0.5s ease-in-out;
//}

/*
QUOTATION
 */
#invoice_table tbody tr:first-child{
    display:none;
}


/**
FLEX THE PANELS SO THEY'RE THE SAME HEIGHT
 */
.panel-heading span {
  font-size:1.5em!important;
}
@media (min-width: $screen-sm-min) {

  .row-eq-height {
      display: -webkit-box!important;
      display: -webkit-flex!important;
      display: -ms-flexbox!important;
      display: flex!important;
  }
  .row-eq-height > div[class~='stretch'] {
  /*.row-eq-height > .stretch {*/
      flex:1 1 auto;
      display: flex;
  }
  .col-flex {
    flex-direction: column;
  }
  .panel {
      flex:1 1 100%;
  }

}

.progress-bar {
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}

.robot-column h1 {
  color:darken($mint-dark,10%);
  font-size:15em;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  @include rotate(-15deg);

}

@keyframes robot {
  0%   {left: 25px;@include rotate(-2deg)}
  25% {@include rotate(5deg)}
50% {left:-25px;@include rotate(0deg)}
  100%   {left: 25px;@include rotate(-2deg)}
}

.robot-column img {
  padding:0;
  margin:0;
  position:relative;
  top:-30px;
  width:100%;
  animation-name: robot;
  animation-iteration-count:infinite;
  animation-duration: 2s;
}
.error-page .text-column {
  font-size:xx-large!important;
  text-align: center;
}
